// https://github.com/dracula/zellij
// https://github.com/zellij-org/zellij/blob/main/zellij-utils/assets/themes/dracula.kdl

themes {
   dracula_modified {
        fg 248 248 242
        // Change bg colour as terminal is also themed, leading to highlighting not working
        // bg 40 42 54
        bg 98 114 164
        black 0 0 0
        red 255 85 85
        green 80 250 123
        yellow 241 250 140
        blue 98 114 164
        magenta 255 121 198
        cyan 139 233 253
        white 255 255 255
        orange 255 184 108
    }
}
